<div class="customers-container">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLoading">
    <div class="customers-table-container">
      <app-customers-table [customers]="(customers | async) ?? undefined"></app-customers-table>
    </div>
  </ng-container>
  <div class="failureOrLoading">
    <ng-template #failureOrLoading>
      <ng-container *ngIf="errorMessage; else loading">
        <div class="text-danger">
          {{errorMessage}}
        </div>
      </ng-container>
      <ng-template #loading>
        Loading .....
      </ng-template>
    </ng-template>
  </div>
</div>
